.srch_result_row {
    padding: 5px;
    margin-top: 15px;
}

.srch_result_title {
    font-size: larger;
    font-weight: bold;
}

.searcher-button {
    /* Changes the default uk-button behavior to put the buton
    *   to the right of the query input field */
    float:inherit;
}

div.srch_admin_header {
    margin-top: 10px;
}

div.srch_admin_header div.srch_icon {
    float:left;
    padding-right: 10px;
}

div.srch_admin_header div.srch_title {
    float:left;
    line-height:1rem;
}

div.srch_title h2 {
    line-height: 1rem;
}

div.srch_admin_menu {
    padding-top: 20px;
    clear:both;
}
